/* Menu List Styling */
.menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    list-style: none;
    padding: 0;
  }
  
  /* Menu Item Styling */
  .menu-item {
    margin: 0 1.5rem; /* Adjust spacing */
    white-space: nowrap;
    font-weight: 400;
    flex-shrink: 0;
  }
  
  /* Link Styling */
  .menu-link {
  
    font-size: 1.15rem; /* Adjust size */
    color: var(--main-color); /* Define --main-color in your CSS variables */
    text-decoration: none;
    position: relative; /* Needed for the ::after pseudo-element */
    display: flex ;
    flex-direction: row;
    transition: color 0.3s ease;
  }
  
  /* Hover Effect on Link */
  .menu-link:hover {
    color: #F1413E; /* Define --orange-color in your CSS variables */
  }
  
  /* Underline Effect */
  .menu-link::after {
    content: "";
    position: absolute;
    bottom: -3px; /* Adjust spacing below text */
    left: 0;
    width: 0;
    height: 2px; /* Adjust thickness */
    background-color: #F1413E; /* Define --primary-color in your CSS variables */
    transition: width 0.3s ease;
  }
  
  /* Hover Effect on Underline */
  .menu-link:hover::after {
    width: 100%; /* Expand underline */
  }
  